<app-menu>
  <div class="container">
    <div class="row justify-content-center">
      <div class="card text-center col-xl-4 col-lg-6 col-md-8 col-10 mt-5 p-0 shadow-lg">
        <h2 class="card-header">
          Usuário
        </h2>
        <div class="card-body">
          <form [formGroup]="usuarioForm">
            <div>
              <input type="file" (change)="selectImg($event)" #fileInput class="d-none" />
              <img 
                [src]="getImg()"
                (click)="fileInput.click()"
                class="rounded-circle"
                width="150"
                height="150"
                matTooltipPosition="right"
                matTooltip="selecione uma nova imagem"
              />
            </div>
            <mat-form-field class="col-12 mt-3">
              <input matInput placeholder="Primeiro nome" formControlName="primeiro_nome">
            </mat-form-field>
            <mat-form-field class="col-12">
              <input matInput placeholder="Último nome" formControlName="ultimo_nome">
            </mat-form-field>
          </form>

          <a routerLink="/listar-usuarios" class="btn btn-block btn-info mt-4">Voltar para a lista de usuários</a>
        </div>
      </div>
    </div>
  </div>
</app-menu>