<mat-toolbar color="primary">
  <span class="cursor-pointer" matRipple (click)="drawer.toggle()">Site</span>

  <span class="spacer"></span>
  
  <mat-icon class="cursor-pointer" matRipple mat-button [matMenuTriggerFor]="menu">menu</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/entrar">Sair</button>
  </mat-menu>
</mat-toolbar>  

<mat-drawer-container class="sidenav-container" autosize hasBackdrop>
    <mat-drawer #drawer class="sidenav" mode="side">
      <button mat-menu-item (click)="drawer.toggle()" routerLink="/painel-controle">Paiinel Controle</button>
      <button mat-menu-item (click)="drawer.toggle()" routerLink="/listar-usuarios">Listar Usuários</button>
    </mat-drawer>

    <div class="sidenav-content">
      <ng-content></ng-content>
    </div>
      
</mat-drawer-container>
